<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us
  </title>
  <style>
    body{
      background-color: whitesmoke;
    }
    html {
      --s: 95px; /* control the size*/
      --c1: #eceddc;
      --c2: #158e6c;
      
      --_g: var(--c1) 90deg,#0000 90.5deg;
      background:
       conic-gradient(from -45deg,var(--_g)),
       conic-gradient(from 135deg,var(--_g)) calc(var(--s)/2) 0,
       var(--c2);
      background-size: var(--s) var(--s)
    }
  </style>
</head>
<body>
  
  
  
</body>
</html>