<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us
  </title>
  <style>
    body{
      background-color: whitesmoke;
    }
  </style>
</head>
<body>
  
  <div style="background-color: aqua;" class="about-section">
    <h1 style="text-align:center ">About Us </h1>
    
  </div>
  
     <h1 style="text-align: center;">A few words about us</h1> 
     <h2 style="text-align: center;">We are professionals in the laundry and dry cleaning business, which means we always stay up to date on the latest technologies, cleaning methods, and solutions for dealing with stains or delicate fabrics. Plus, we maintain the highest standards of business integrity by following local and national regulations and environmental safety rules!</h2> 
     
  <h1 style="text-align:center "> A few words about us</h1>

  <p style="background-color: rgb(224, 231, 231);">.</p>
  <h1 style="text-align:center ">Why Choose Us</h1>


  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>Persionalized Experience</h2>
       
        <p>
          We take utmost care of your clothes,</p>
         <p> segregating based on the cloth type </p>
         <p>and giving you instant clothes to make a statement</p>
        
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>
          Affordable Pricing
          </h2>
       
        
         <p>
          Prices that suits your pocket is one of our USP. </p>
         <p> An option of choosing between 2 types of pricing is available.  </p>
         <p>
        
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  

  

  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>
          covenience
          </h2>
         <p>
          With just a tap of a button, </p>
         <p>your laundry gets done   </p>
         <p>giving your leisure time to spend with family and friends </p>
        
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>
         Quality 
          </h2>
       
        
         <p>We use the best in class products
           </p>
         <p>to assure that your favourite clothes are  </p>
         <p> always there for you to wear</p>
        
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>
          Express Delivery 
          </h2>
       
        
         <p>Forgot to wash your clothes for interview /business meeting never mind 
           </p>
         <p> with our super espress delivary  </p>
         <p>we would get your laundary done in less than 8 hours</p>
        
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>
        Instant Order Update
          </h2>
       
        
         <p>Regular updates of your order 
          </p>
         <p> tp help you keep a track of your laundary  </p>
        <p>and plan accordingly</p>
        
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  
</body>
</html>